@model IEnumerable<DigitalRetailersInc.Models.LaptopDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Laptop</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Img) *@
                    <img src="data:image;base64,@Convert.ToBase64String(item.Img)" alt="Image" width="120" height="120"/>
            </td>
            <td>
                    <form action="@Url.Action("Create", "Myorders")" method="get">
                        @Html.Hidden("ItemId", item.Id)
                        <input type="submit" value="Order Now" class="btn btn-success"/>
                    </form>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
